.homepage {
}

/* notice component */
.notice {
  text-align: center;
  background-color: #f7f4c5;
  margin-top: 0.25rem;
  
  border-top: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
}

/* carousel container? */
.carousel {
  text-align: center;
  font-family: 'Paytone One', Georgia, Serif;
  /*transform: translateY(100%);*/
  margin-top: 25%;
}

/* carousel name text */
.carousel .carouselName{
  font-family: 'Paytone One', Georgia, Serif;
  font-size: 1.875rem;
}

/* setting font for event title */
.carousel .eventSong {
  font-family: 'Concert One', 'Noto Sans Japanese';
  font-size: 3.125rem;
  font-weight: 600;
  
  height: 3.125rem;
}

.romanji {
  font-family: 'Concert One';
  font-size: 1.876rem;
  margin-top: 2rem;
}

/* mini banner */
.carouselBannerMini{
  height: 4.375rem;
/*  position: relative;
  top: 50%;
  left: 30%;
  transform: translateX(-250%) translateY(0%);*/
}

/* Carousel single tab */
.carousel .carouselTab {
  width: 700px;
  display: inline-block;
  overflow: hidden;
}

.carouselTab .cardInfo {
  white-space: pre-line;
  width: 350px;
  height: 200px;
}

.cardInfo.left{
  float: left;
  text-align: left;
  background-color: green;
}

.cardInfo.right{
  float: right;
  text-align: right;
  background-color: yellow;
}

.carouselTab .cardIcon {
  width: 110px;
}

.cardIcon.left{
  float: left;
}

.cardIcon.right{
  float: right;
}


/* background styling carousel
.carouselBG{

}

.latestNews {

}

.featuredIdol {
  
} */

/*
.navbar {
  background-color: #EB6B8D;
  height: 90px;
  padding: 10px;
  color: white;
}

.appTitle {
  font-family: 'Dancing Script', Georgia, Serif;
  font-weight: 900;
  color: #ffef7c;
  font-size: 45px;

  padding-left: 50px;
  padding-right: ;
  padding-top: 5px;
  padding-bottom: ;
} */