.app {
  text-align: center;
}

.siteWrapper {
  margin-top: 0px;
}

.appLogo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.appHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.appTitle {
  font-size: 1.5em;
}

.appIntro {
  font-size: large;
}

.navBar {
  background-color: cyan; 
  margin: 0px;
}

.siteNav{
  padding: 0.625rem;
  text-align: center;
  margin: 0px;
}

.siteNav li {
  display: inline;
  padding: 0 .3125rem;
  font-size: 1.125rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
